.nav-sidebar > .active > a {
    font-weight: bold;
}

#chat_wrapper {
    height: 512px;
    border: 1px solid #e9e9e9;
    padding: 1em;
    background-color: #f6f6f6;
    overflow-y: scroll;
}

div.message {
}

div.message > span.author {
    font-weight: bold;
}

.author_opposite {
    color: #c7254e;
    background-color: #f9f2f4;
}

.author_me {
    color: #198cd5;
    background-color: #b0dcf8;
}

div.message > span.text {
    
}

.chat_controls {
    margin-top: 1em;
}

.chat_controls > .text {
    width: 100%;
}

.chat_controls > .send {
}