<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <f:metadata>
            <f:viewParam name="id" value="#{editAttachedAthletes.accId}" />
        </f:metadata>
        <ui:composition template="/WEB-INF/faces/layout_admin.xhtml">
            <ui:define name="header">
                Редактировать список прикрепленных спортсменов (#{editAttachedAthletes.accId})
            </ui:define>
            <ui:define name="content">
                <h:form>
                    <ui:fragment rendered="#{editAttachedAthletes.attachedAthletes != null and editAttachedAthletes.attachedAthletes.size() > 0}">
                        <table class="table">
                            <thead>
                                <th>ФИО</th>
                                <th>Операции</th>
                            </thead>
                            <tbody>
                                <ui:repeat value="#{editAttachedAthletes.attachedAthletes}"
                                           var="a">
                                    <tr>
                                        <td>#{a.fullFIO}</td>
                                        <td>
                                            <h:commandButton class="btn btn-default" 
                                                             value="Открепить"
                                                             action="#{editAttachedAthletes.detach(a.id)}"/>
                                        </td>
                                    </tr>
                                </ui:repeat>
                            </tbody>
                        </table>
                    </ui:fragment>
                    <ui:fragment rendered="#{editAttachedAthletes.availableAthletes != null and editAttachedAthletes.availableAthletes.size() > 0}">
                        <div class="form-group">
                            <h:selectOneMenu class="form-control"
                                             value="#{editAttachedAthletes.athToAttachId}">
                                <f:selectItems value="#{editAttachedAthletes.availableAthletes}"
                                               var="a"
                                               itemLabel="#{a.fullFIO}"
                                               itemValue="#{a.id}" />
                            </h:selectOneMenu>
                            <h:commandButton class="btn btn-primary" value="Прикрепить"
                                             action="#{editAttachedAthletes.attach()}"/> 
                        </div>
                    </ui:fragment>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

