<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <f:metadata>
            <f:viewParam name="id" value="#{lockAccount.accountId}" />
        </f:metadata>
        <ui:composition template="/WEB-INF/faces/layout_admin.xhtml">
            <ui:define name="header">
                Блокировка учетной записи ##{lockAccount.accountId}
            </ui:define>
            <ui:define name="content">
                <div class="panel panel-default">
                    <div class="panel-heading">Блокировка</div>
                    <div class="panel-body">
                        <h:form>
                            <div class="form-group">
                                <label for="date">Дата окончания блокировки</label>
                                <div class="input-group date">
                                    <h:inputText id="date" class="form-control" value="#{lockAccount.date}">
                                        <f:convertDateTime pattern="dd.MM.yyyy"/>  
                                    </h:inputText>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                            <h:commandButton 
                                class="btn btn-primary"
                                value="Установить"
                                action="#{lockAccount.lock()}" />
                        </h:form>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

