<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/faces/layout_admin.xhtml">
            <ui:define name="header">Группы записей</ui:define>
            <ui:define name="content">
                <nav class="navbar navbar-default">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="create_record_group.xhtml">
                                <button class="btn btn-primary navbar-btn">
                                    <span class="glyphicon glyphicon-plus-sign" />
                                    Создать
                                </button>
                            </a>
                        </li>
                    </ul>
                </nav>
                <h:form>
                    <ui:fragment rendered="#{recordGroups.recordGroups.size() > 0}">
                        <table class="table">
                            <caption>Группы значений</caption>
                            <thead>
                                <th>Название</th>
                                <th>Примечание</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <ui:repeat value="#{recordGroups.recordGroups}"
                                           var="r">
                                    <tr>
                                        <td>#{r.name}</td>
                                        <td>#{r.comment}</td>
                                        <td>

                                            <div class="btn-group">
                                                <h:button 
                                                    class="btn btn-default #{empty r.code ? '' : 'disabled'}"
                                                    outcome="edit_record_group"
                                                    value="Редактировать">
                                                    <f:param name="id" value="#{r.id}"/>
                                                </h:button>
                                                <h:commandButton
                                                    class="btn btn-default #{empty r.code ? '' : 'disabled'}"
                                                    action="#{recordGroups.deleteRecordGroup(r.id)}"
                                                    value="Удалить" />
                                            </div>
                                        </td>
                                    </tr>
                                </ui:repeat>
                            </tbody>
                        </table>
                    </ui:fragment>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

