<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition>
            <div class="panel panel-default">
                <div class="panel-heading">Данные спортсмена</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="birthPlace">Место рождения</label>
                        <h:inputText id="birthPlace" class="form-control" value="#{model.birthPlace}" />
                    </div>
                    <div class="form-group">
                        <label for="nationality">Национальность</label>
                        <h:inputText id="nationality" class="form-control" value="#{model.nationality}" />
                    </div>
                    <div class="form-group">
                        <label for="religion">Вероисповедание</label>
                        <h:inputText id="religion" class="form-control" value="#{model.religion}" />
                    </div>
                    <div class="form-group">
                        <label for="studyPlace">Место учебы</label>
                        <h:inputText id="studyPlace" class="form-control" value="#{model.studyPlace}" />
                    </div>
                    <div class="form-group">
                        <label for="height">Рост</label>
                        <h:inputText id="height" class="form-control" value="#{model.height}" />
                    </div>
                    <div class="form-group">
                        <label for="weight">Вес</label>
                        <h:inputText id="weight" class="form-control" value="#{model.weight}" />
                    </div>
                    <div class="form-group">
                        <label for="sport">Вид спорта</label>
                        <h:inputText id="sport" class="form-control" value="#{model.sport}" />
                    </div>
                    <div class="form-group">
                        <label for="sportDegree">Квалификация</label>
                        <h:selectOneMenu id="sportDegree" class="form-control" value="#{model.sportDegree}">
                            <f:selectItem itemLabel="Не указано" itemValue="#{null}" />
                            <f:selectItems
                                value="#{model.allSportDegrees}"
                                var="s"
                                itemValue="#{s}"
                                itemLabel="#{s.caption}" />
                        </h:selectOneMenu>
                    </div>
                    <div class="form-group">
                        <label for="parents">Количество родителей</label>
                        <h:selectOneMenu id="parents" class="form-control" value="#{model.parents}">
                            <f:selectItem itemLabel="Не указано" itemValue="#{null}" />
                            <f:selectItem itemLabel="Один" itemValue="1" />
                            <f:selectItem itemLabel="Два" itemValue="2" />
                        </h:selectOneMenu>
                    </div>
                    <div class="form-group">
                        <label for="livingPlace">Тип жилья</label>
                        <h:selectOneMenu id="livingPlace" class="form-control" value="#{model.livingPlace}">
                            <f:selectItem itemLabel="Не указано" itemValue="#{null}" />
                            <f:selectItems
                                value="#{model.allLivingPlaces}"
                                var="s"
                                itemValue="#{s}"
                                itemLabel="#{s.caption}" />
                        </h:selectOneMenu>
                    </div>
                    <div class="form-group">
                        <label for="livingAddress">Адрес проживания</label>
                        <h:inputText id="livingAddress" class="form-control" value="#{model.livingAddress}" />
                    </div>
                    <div class="form-group">
                        <label for="familyStatus">Семейное положение</label>
                        <h:selectOneMenu id="familyStatus" class="form-control" value="#{model.familyStatus}">
                            <f:selectItem itemLabel="Не указано" itemValue="#{null}" />
                            <f:selectItems
                                value="#{model.allFamilyStatuses}"
                                var="s"
                                itemValue="#{s}"
                                itemLabel="#{s.caption}" />
                        </h:selectOneMenu>
                    </div>
                    <div class="form-group">
                        <label for="children">Количество детей</label>
                        <h:inputText id="children" class="form-control" value="#{model.children}" />
                    </div>
                    <div class="form-group">
                        <label for="diseases">Хронические болезни</label>
                        <h:inputText id="diseases" class="form-control" value="#{model.diseases}" />
                    </div>
                </div>
            </div>
        </ui:composition>
    </h:body>
</html>

