<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition>
            <div class="panel panel-default">
                <div class="panel-heading">Данные тренера</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="qualification">Квалификация</label>
                        <h:selectOneMenu id="qualification" 
                                         class="form-control" 
                                         value="#{model.qualification}">
                            <f:selectItem value="#{null}" itemLabel="Не указано" />
                            <f:selectItems value="#{model.allQualifications}"
                                           var="v"
                                           itemLabel="#{v.caption}"
                                           itemValue="#{v}" />
                        </h:selectOneMenu>
                    </div>
                </div>
            </div>
        </ui:composition>
    </h:body>
</html>

