<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition>
            <h:outputLabel for="name" value="Название перечисления" />
            <h:inputText class="form-control"
                         id="name"
                         value="#{model.name}" />
            <ui:fragment rendered="#{model.values.size() > 0}">
                <table class="table">
                    <caption>
                        Значения перечисления
                    </caption>
                    <thead>
                        <th>Название</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <ui:repeat value="#{model.values}"
                                   var="v">
                            <tr>
                                <td>
                                    <h:inputText class="form-control" value="#{v.name}" />
                                </td>
                                <td>
                                    <h:commandButton value="Удалить"
                                                     action="#{model.remove(v)}"
                                                     class="btn btn-default"/>
                                </td>
                            </tr>
                        </ui:repeat>
                    </tbody>
                </table>
            </ui:fragment>
            <h:commandButton 
                class="btn btn-default"
                value="Добавить значение"
                action="#{model.add()}" />
        </ui:composition>
    </h:body>
</html>

