<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:body>
        <ui:composition>
            <div class="panel panel-default">
                <div class="panel-heading">Группа значений</div>
                <div class="panel-body">
                    <div class="form-group">
                        <h:outputLabel for="name" value="Название" />
                        <h:inputText class="form-control" id="name" value="#{model.name}" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel for="comment" value="Примечание" />
                        <h:inputText class="form-control" id="comment" value="#{model.comment}" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel for="periodicity" value="Периодичность" />
                        <h:selectOneMenu class="form-control" id="periodicity" value="#{model.periodicity}">
                            <f:selectItems value="#{model.allPeriodicities}"
                                           var="i"
                                           itemLabel="#{i.caption}"
                                           itemValue="#{i}" />
                        </h:selectOneMenu>
                    </div>
                    <div class="form-group">
                        <h:outputLabel for="sourceType" value="Кто заполняет" />
                        <h:selectOneMenu class="form-control" id="sourceType" value="#{model.sourceType}">
                            <f:selectItems value="#{model.allSourceTypes}"
                                           var="i"
                                           itemLabel="#{i.caption}"
                                           itemValue="#{i}"/>
                        </h:selectOneMenu>
                    </div>

                    <table class="table">
                        <caption>Записи</caption>
                        <thead>
                            <th>Имя</th>
                            <th>Тип значения</th>
                            <th>Тип перечисления</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <ui:repeat var="r" value="#{model.records}">
                                <tr>
                                    <td>
                                        <h:inputText value="#{r.name}" class="form-control" />
                                    </td>
                                    <td>
                                        <h:selectOneMenu
                                            class="form-control"
                                            value="#{r.valueType}">
                                            <f:selectItems value="#{model.allValueTypes}"
                                                           var="i"
                                                           itemLabel="#{i.caption}"
                                                           itemValue="#{i}"/>
                                        </h:selectOneMenu>
                                    </td>
                                    <td>
                                        <h:selectOneMenu
                                            class="form-control"
                                            value="#{r.enumTypeId}">
                                            <f:selectItem value="#{null}"
                                                          itemLabel="Не указан"/>
                                            <f:selectItems value="#{recordGroups.allEnumTypes}"
                                                           var="i"
                                                           itemLabel="#{i.name}"
                                                           itemValue="#{i.id}"/>
                                        </h:selectOneMenu>
                                    </td>
                                    <td>
                                        <h:commandButton class="btn btn-default" 
                                                         action="#{model.removeRecord(r)}"
                                                         value="Удалить"/>
                                    </td>
                                </tr>
                            </ui:repeat>
                        </tbody>
                    </table>

                    <h:commandButton value="Добавить значение"
                                     action="#{model.addRecord()}"
                                     class="btn btn-default"/>
                </div>
            </div>
        </ui:composition>
    </h:body>
</html>

