<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/faces/layout_cabinet.xhtml">
            <ui:define name="header">
                Выбор категории записей
            </ui:define>
            <ui:define name="content">
                <div class="list-group">
                    <ui:repeat value="#{cabinetRecordGroups.groups}"
                               var="g">
                        <a href="#{request.isUserInRole('athlete') and g.sourceType eq 'Athlete' ? 'edit' : 'read'}_records.xhtml?group=#{g.id}"
                           class="list-group-item #{request.isUserInRole('athlete') and g.sourceType eq 'Athlete' ? 'list-group-item-success' : 'list-group-item-info'}"
                           style="margin-bottom: 1em">
                            <h3 style="margin-top: 0"><h:outputText value="#{g.name}" /></h3>
                            <div>
                                <b>Заполняет: </b>
                                <h:outputText value="#{g.sourceType.caption}" />
                            </div>
                            <div>
                                <b>Периодичность: </b>
                                <h:outputText value="#{g.periodicity.caption}" />
                            </div>
                        </a>
                    </ui:repeat>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

