<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/faces/layout_cabinet.xhtml">
            <ui:define name="header">Сообщения</ui:define>
            <ui:define name="content">
                <div class="container">
                    <div class="row" style="background-color: #e9e9e9; padding: 1em 0em; border-radius: 4px">
                        <div class="col-xs-12">
                            <form class="form-inline" method="get" action="dialog.xhtml">
                                <select class="form-control" name="id">
                                    <ui:repeat value="#{dialogs.availableReceivers}" var="r">
                                        <option value="#{r.id}">#{r.fullFIO}</option>
                                    </ui:repeat>
                                </select>
                                <button class="btn btn-default" style="margin-right: 1em">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    Перейти к диалогу
                                </button>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <ui:repeat value="#{dialogs.lastMessages}" var="lm">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="dialog.xhtml?id=#{lm.accountId}">
                                    #{lm.accountName} <span class="badge">(#{lm.totalUnread} не прочитано)</span>
                                </a>
                            </div>
                        </div>
                    </ui:repeat>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

