<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/faces/layout_cabinet.xhtml">
            <ui:define name="header">
                Выбор категории записей
            </ui:define>
            <ui:define name="content">
                <h:form class="form">
                    <div class="form-group">
                        <label>Спортсмен</label>
                        <h:selectOneMenu
                            class="form-control"
                            value="#{cabinetMasterRecords.athleteId}">
                            <f:selectItems value="#{cabinetAthletes.athletes}" 
                                           var="i"
                                           itemValue="#{i.id}"
                                           itemLabel="#{i.fullFIO}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="form-group">
                        <label>Группа записей</label>
                        <h:selectOneMenu
                            class="form-control"
                            value="#{cabinetMasterRecords.groupId}">
                            <f:selectItems value="#{cabinetRecordGroups.groups}" 
                                           var="g"
                                           itemValue="#{g.id}"
                                           itemLabel="#{g.name}#{accountBean.canEdit(g.sourceType) ? '' : '(только чтение)'}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="form-group">
                        <label>Дата</label>
                        <h:inputText class="form-control date"
                                     value="#{cabinetMasterRecords.date}">
                            <f:convertDateTime pattern="dd.MM.yyyy" />
                        </h:inputText>
                    </div>
                    <h:commandButton action="#{cabinetMasterRecords.reload()}"
                                     class="btn btn-primary"
                                     value="Показать" />

                    <ui:fragment rendered="#{not empty cabinetMasterRecords.model and accountBean.canEdit(cabinetMasterRecords.model.sourceType)}">
                        <hr />
                        <ui:repeat value="#{cabinetMasterRecords.model.valueModels}"
                                   var="r">
                            <div class="form-group">
                                <h:outputLabel value="#{r.name}" />
                                <div>
                                    <h:inputText class="form-control" 
                                                 value="#{r.intValue}"
                                                 rendered="#{r.valueType eq 'Integer'}" />
                                    <h:inputText class="form-control"
                                                 value="#{r.floatValue}"
                                                 rendered="#{r.valueType eq 'Float'}" />
                                    <h:inputTextarea class="form-control"
                                                     value="#{r.textValue}"
                                                     rendered="#{r.valueType eq 'Text'}" />
                                    <h:selectOneMenu 
                                        class="form-control"
                                        rendered="#{r.valueType eq 'Enum'}"
                                        value="#{r.enumValueId}">
                                        <f:selectItem
                                            itemLabel="Не указано"
                                            itemValue="#{null}" />
                                        <f:selectItems
                                            value="#{r.enumValues}"
                                            var="ev"
                                            itemLabel="#{ev.name}"
                                            itemValue="#{ev.id}" />
                                    </h:selectOneMenu>
                                </div>
                            </div>
                        </ui:repeat>
                        <div>
                            <h:commandButton class="btn btn-primary"
                                             action="#{cabinetMasterRecords.update()}"
                                             value="Сохранить" />
                        </div>
                    </ui:fragment>
                    <ui:fragment rendered="#{not empty cabinetMasterRecords.model and not accountBean.canEdit(cabinetMasterRecords.model.sourceType)}">
                        <hr />
                        <ui:repeat value="#{cabinetMasterRecords.model.valueModels}"
                                   var="r">
                            <div>
                                <h:outputLabel value="#{r.name}" />:
                                <ui:fragment rendered="#{r.hasValue}">
                                    <h:outputText 
                                        value="#{r.intValue}"
                                        rendered="#{r.valueType eq 'Integer'}" />
                                    <h:outputText 
                                        value="#{r.floatValue}"
                                        rendered="#{r.valueType eq 'Float'}" />
                                    <h:outputText 
                                        value="#{r.textValue}"
                                        rendered="#{r.valueType eq 'Text'}" />
                                    <h:outputText
                                        value="#{r.enumValue.name}"
                                        rendered="#{r.valueType eq 'Enum'}"/>
                                </ui:fragment>
                                <ui:fragment rendered="#{not r.hasValue}">
                                    Нет значения
                                </ui:fragment>
                            </div>
                        </ui:repeat>
                    </ui:fragment>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

