<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/faces/layout_cabinet.xhtml">
            <ui:define name="header">
                Специалисты
            </ui:define>
            <ui:define name="content">
                <div class="list-group">
                    <ui:repeat value="#{masters.masters}"
                               var="m">
                        <a href="profile_info.xhtml?id=#{m.id}" class="list-group-item">
                            <h3 style="margin-top: 0"><h:outputText value="#{m.shortFIO}" /></h3>
                            <div>
                                <h:outputText value="#{masters.getMasterTypeCaption(m)}" />
                            </div>
                        </a >
                    </ui:repeat>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

