<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/WEB-INF/faces/layout_cabinet.xhtml">
        <ui:define name="header">Запросы</ui:define>
        <ui:define name="content">
            <ui:fragment rendered="#{pendingRequests.request == null}">
                <h3>Запросы отсутствуют</h3>
            </ui:fragment>
            <ui:fragment rendered="#{pendingRequests.request != null}">
                <div class="list-group">
                    <div class="list-group-item">
                        Запрос к #{pendingRequests.request.master.fullFIO} создан
                    </div>
                </div>
            </ui:fragment>
        </ui:define>
    </ui:composition>
</html>

