<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <f:metadata>
            <f:viewParam name="id" value="#{profileInfo.id}" />
        </f:metadata>
        <ui:composition template="/WEB-INF/faces/layout_cabinet.xhtml">
            <ui:define name="header">Обновить данные</ui:define>
            <ui:define name="content">
                <h:form>
                    <ui:include src="/WEB-INF/faces/account_info.xhtml">
                        <ui:param name="model" value="#{profileInfo.accData}" />
                    </ui:include>
<!--                    <ui:fragment rendered="#{profileInfo.coachData ne null}">
                        <ui:include src="/WEB-INF/faces/coach_info.xhtml">
                            <ui:param name="model" value="#{profileInfo.coachData}" />
                        </ui:include>
                    </ui:fragment>-->
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

