<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <f:metadata>
            <f:viewParam name="group" value="#{cabinetRecords.groupId}" />
            <f:event type="preRenderComponent" listener="#{cabinetRecords.init()}"/>
        </f:metadata>
        <ui:composition template="/WEB-INF/faces/layout_cabinet.xhtml">
            <ui:define name="header">
                Просмотр категории
            </ui:define>
            <ui:define name="content">
                <h:form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Дата</label>
                        <div class="col-sm-2">
                            <h:inputText class="form-control form-control-static date" 
                                         value="#{cabinetRecords.date}">
                                <f:convertDateTime type="date" pattern="dd.MM.yyyy" />
                            </h:inputText>
                        </div>
                        <div class="col-sm-2">
                            <h:commandButton class="btn btn-primary"
                                             action="#{cabinetRecords.reload()}"
                                             value="Обновить" />
                        </div>
                    </div>
                </h:form>
                <hr />
                <table class="table">
                    <thead>
                        <tr>
                            <th>Поле</th>
                            <th>Значение</th>
                            <th>Добавлено</th>
                            <th>Обновлено</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ui:repeat value="#{cabinetRecords.model.valueModels}"
                                   var="r">
                            <tr>
                                <td>
                                    <h:outputText value="#{r.name}" />
                                </td>
                                <td>
                                    <ui:fragment rendered="#{r.hasValue}">
                                        <h:outputText 
                                            value="#{r.intValue}"
                                            rendered="#{r.valueType eq 'Integer'}" />
                                        <h:outputText 
                                            value="#{r.floatValue}"
                                            rendered="#{r.valueType eq 'Float'}" />
                                        <h:outputText 
                                            value="#{r.textValue}"
                                            rendered="#{r.valueType eq 'Text'}" />
                                        <h:outputText
                                            value="#{r.enumValue.name}"
                                            rendered="#{r.valueType eq 'Enum'}"/>
                                    </ui:fragment>
                                    <ui:fragment rendered="#{not r.hasValue}">
                                        Нет значения
                                    </ui:fragment>
                                </td>
                                <td>
                                    <h:outputText value="#{r.added}">
                                        <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss" />
                                    </h:outputText>
                                </td>
                                <td>
                                    <h:outputText value="#{r.updated}">
                                        <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss" />
                                    </h:outputText>
                                </td>
                            </tr>
                        </ui:repeat>
                    </tbody>
                </table>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

