<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/WEB-INF/faces/layout_cabinet.xhtml">
        <ui:define name="header">Запросы</ui:define>
        <ui:define name="content">
            <ui:fragment rendered="#{requests.requests.size() == 0}">
                <h3>Запросы отсутствуют</h3>
            </ui:fragment>
            <h:form>
                <div class="list-group">
                    <ui:repeat value="#{requests.requests}"
                               var="r">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-xs-4">
                                    #{r.athlete.fullFIO}
                                </div>
                                <div class="col-xs-4">
                                    <div class="btn-group">
                                        <h:commandButton action="#{requests.accept(r.id)}"
                                                         class="btn btn-success"
                                                         value="Принять"/>
                                        <h:commandButton action="#{requests.decline(r.id)}"
                                                         class="btn btn-danger"
                                                         value="Отклонить"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ui:repeat>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>

