<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Изменение пароля</title>
        <link href="#{request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet" />
        <script src="#{request.contextPath}/resources/js/jquery-2.2.4.min.js" type="text/javascript" ></script>
        <script src="#{request.contextPath}/resources/js/bootstrap.min.js" type="text/javascript" ></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </h:head>
    <h:body>
        <div class="container">
            <h:form>
                <div class="panel panel-info" style="width: 400px; margin: 0 auto; margin-top: 1em">
                    <div class="panel-heading">
                        Изменение пароля
                    </div>
                    <div class="panel-body">
                        <h:messages class="alert alert-warning" />
                        <div class="form-group">
                            <h:outputLabel for="oldPassword" value="Старый пароль" />
                            <h:inputSecret class="form-control"
                                         id="oldPassword"
                                         value="#{changePassword.oldPassword}" />
                        </div>
                        <div class="form-group">
                            <h:outputLabel for="newPassword" value="Новый пароль" />
                            <h:inputSecret class="form-control"
                                           id="newPassword"
                                           value="#{changePassword.newPassword}" />
                        </div>
                        <div class="form-group">
                            <h:outputLabel for="newPasswordAgain" value="Новый пароль еще раз" />
                            <h:inputSecret class="form-control"
                                           id="newPasswordAgain"
                                           value="#{changePassword.newPasswordAgain}" />
                        </div>
                        <div style="text-align: center">
                            <h:commandButton 
                                class="btn btn-primary"
                                action="#{changePassword.change()}" 
                                value="Изменить" />
                        </div>
                    </div>
                </div>
            </h:form>
        </div>
    </h:body>
</html>

