<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Вход в систему</title>
        <link href="#{request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet" />
        <script src="#{request.contextPath}/resources/js/jquery-2.2.4.min.js" type="text/javascript" ></script>
        <script src="#{request.contextPath}/resources/js/bootstrap.min.js" type="text/javascript" ></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </h:head>
    <h:body>
        <f:metadata>
            <f:event type="preRenderComponent" listener="#{index.check()}"/>
        </f:metadata>
        <div class="container">
            <h:form>
                <div class="panel panel-info" style="width: 400px; margin: 0 auto; margin-top: 1em">
                    <div class="panel-heading">
                        Вход в систему
                    </div>
                    <div class="panel-body">
                        <h:messages class="alert alert-warning" />
                        <div class="form-group">
                            <h:outputLabel for="username" value="Адрес электронной почты" />
                            <h:inputText class="form-control"
                                         id="username"
                                         value="#{login.username}" />
                        </div>
                        <div class="form-group">
                            <h:outputLabel for="password" value="Пароль" />
                            <h:inputSecret class="form-control"
                                           id="password"
                                           value="#{login.password}" />
                        </div>
                        <div style="text-align: center">
                            <h:commandButton 
                                class="btn btn-primary"
                                action="#{login.login()}" 
                                value="Войти" />
                            <div class="btn-group">
                                <h:commandButton
                                    class="btn btn-danger"
                                    action="#{login.loginAsAthlete()}"
                                    value="Спортсмен" />
                                <h:commandButton
                                    class="btn btn-danger"
                                    action="#{login.loginAsCoach()}"
                                    value="Тренер" />
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>
        </div>
    </h:body>
</html>

